* {
  margin: 0;
  padding: 0;
}
table {
  margin: 5px;
  border-collapse: collapse;
  border: 2px solid #000;
  font-size: larger;
}
table td,
table th {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: rgb(38, 131, 38);
}
tbody tr:nth-child(odd) {
  background-color: rgb(83, 83, 248);
}
