*{
    margin:0;
    padding:0;
}

.navbar{
    background-color:#0D1321;
    height:50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color:#F0EBD8;
    font-size:larger;
}

.colBoxContainer{
    display:flex;
    justify-content: center;
}

.box1,.box2,.box3{
    width:500px;
    height:520px;
}

.box1{
    background-color:#1D2D44;
}

.box2{
    background-color:#3E5C76;
}

.box3{
    background-color:#748CAB;
}

.rowBoxContainer{
    display:flex;
    justify-content: center;
}

.box4{
    background-color:#0D1321;
    height:200px;
    width:100%;
}

footer{
    background-color:#5f7fa8;
    text-align: center;
}

footer p{
    color:#F0EBD8;
    padding:10px;
}
